.board {
  .boder-top-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .boder-middle-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
  }
  .boder-bottom-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
  }
}
