.boder-top-line {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}
.boder-middle-line {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}
.boder-bottom-line {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}