.keyboard-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
  padding: 0 12px;
  background-color: #000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0 12px;
  border-radius: 5px;
  color: white;
  font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
  font-size: 24px;
  cursor: pointer;
  &:active {
    position: relative;
    top: 3px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    .action {
      visibility: visible;
    }
  }
  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    width: 55px;
    margin-top: 3px;
    visibility: hidden;
    .delete, .edit {
      background-color: #FFA503;
      padding: 0 4px;
      &:hover {
        background-color: #12B7F5;
      }
    }
  }
  .icon {
    margin-left: -44px;
    margin-top: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
  }
}